
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

.image-size{
    width: 225px;
    height: 225px;
    border-radius: 3px;;
    object-fit: cover;
}

.image-opacity{
    background-color: black;
    opacity: 0.3;
}

.image-opacity:hover{
    opacity: 1.0;
    border-bottom: 3px solid yellow;
}

@keyframes enlarge {
    0%{
        width:225px;
        height:225px;
        opacity: 0.3;
    }
    50%{
        width:235px;
        height:235px;
        opacity: 1.0;
    }
    100%{
        width:225px;
        height:225px;
        opacity: 0.3;
    }
}

.image-animate{
    animation: enlarge 4s;
    /* animation-duration: 1s; */
}

#wrapper{
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


